* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
}

header > .container {
    height: 100%;
    padding: 40px 20px;
}

header .logo {
    position: relative;
    animation-name: logo-animation;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-delay: 3ms;
    z-index: 1;
}

@keyframes logo-animation{
    0% {
        width: 100px;
    }
    50%{
        width: 130px;
    }
    100% {
        width: 100px;
    }
}

header .container .menu a{
    font-size: 0.875em; 
    text-decoration: none;  
    color: rgb(75, 75, 78);
    margin: 0 20px; 
    transition: 0.5s all ease;
}

header .container .menu a:hover,
header .container .menu a.active {
    color: rgb(223, 165, 43);
    border-bottom: 3px solid #ebb217;  
    font-weight: 600;
    padding-bottom: 7px;
}

header form .d-flex {
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #ebb217;
    border-radius: 50px;
    width: 320px;
}

header form div input[type="submit"] {
    width: 19px;
    height: 19px;
    background: url(/images/main/search.png) no-repeat;
    background-size: cover;
    border: none;
}

header form div input[type="text"] {
    border: none;
    margin-right: 10px;
}

header form div input[type="submit"]:hover {
    cursor: pointer;
}

header .cart {
    align-items: center;
}

header .cart div p {
    font-size: 0.938em;
    color: #838388;
}

header .cart div a {
    font-size: 0.750em;
    color: rgb(223, 165, 43);
    text-decoration: none;
}

header .cart div a:hover {
    font-weight: 600;
    cursor: pointer;
    border-bottom: 1px solid #ebb217;
}

header .burger-menu {
    display: none;
    height: 40px;
    margin: 0!important; 
}

footer {
    background-color: rgb(75, 75, 78);
    padding-top: 50px;
    padding-bottom: 20px;
}

footer .container {
    align-items: flex-start;
}

footer .left {
    align-items: flex-start;
}

footer .left figure figcaption {
    color: #f3f3f3;
    font-size: 0.875em;
    margin-top: 25px;
    width: 170px;
}

footer .left nav {
    margin-left: 100px;
    
}

footer .left nav a {
    display: block;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 0.875em;
    margin-bottom: 20px;
}

footer .left nav a:hover, footer .left nav a.active {
    color:#ebb217;
    font-weight: 600;
}

footer .right form div {
    justify-content: left;
    width: 458px;
    border-bottom: 1px solid #f3f3f3;
}

footer .right form .d-flex input[type="text"] {
    padding: 8px 0px;
    width: 100%;
    background: none;
    border: none;
    color: #f3f3f3;
    
}

footer .right form .d-flex input[type="submit"] {
    width: 30px;
    height: 30px;
    background: url(/images/main/search_white.png) no-repeat;
    background-size: cover;
    border: none;
}

footer .right > div {
    text-align: center;
    font-size: 0.875em;
    color: #f3f3f3;
    margin-top: 33px;
    margin-bottom: 15px;
}

footer .right .box {
    width: 40px;
    height: 40px;
    margin: 16px 16px 0 0;
    display: inline-block;
}

footer .right .insta {
    background: url("/images/main/insta_logo.png") no-repeat;
    background-size: cover;
}

footer .right .twit {
    background: url("/images/main/twitter_logo.png") no-repeat;
    background-size: cover;
}

footer .right .tg {
    background: url("/images/main/tg_logo.png") no-repeat;
    background-size: cover;
    margin-right: 0;
}

footer .right .insta:hover, footer .right .twit:hover, footer .right .tg:hover {
    cursor: pointer;
}

footer .copyright {
    text-align: center;
    font-size: 0.750em;
    color: #f3f3f3;
    margin-top: 20px;
}