@media screen and (max-width: 1199px) {
    header form .d-flex{
        width: 270px;
    }

    footer .left {
        margin-left: 20px;
    }

    footer .right {
        margin-right: 20px;
    }
}

@media screen and (max-width: 991px) {
    header > .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    header > .container > img {
        margin-right: 35px;
    }

    header > .container > form {
        margin-right: 20px;
    }

    header form .d-flex{ 
        width: 420px;
    }

    footer .right form div {
        width: 280px;
    }
}

@media screen and (max-width: 767px) {
    
    header form .d-flex{ 
        width: 335px;
    }

    header .menu {
        margin: 15px 0;
    }

    footer .container {
        flex-wrap: wrap;
    }

    footer .right {
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;
    }
}

@media screen and (max-width: 661px) {
    footer .left {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 576px) {

    header > .container > img {
        margin-right: 200px;
    }
    
    header .burger-menu {
        display: inline-block;
    }

    header form .d-flex{ 
        width: 240px;
    }

    header .container .menu {
        display: none;
       
    }

    header .container .menu a {
        display: block;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    header .container .menu a:hover, header .container .menu a.active {
        border-bottom: none;
        margin-top: 17px;
        margin-bottom: 17px;
        padding: 0;
    }
}

@media screen and (max-width: 460px) {
    footer .left nav {
        margin-left: 90;
    }
}

@media screen and (max-width: 414px) {
    header form{ 
        margin-right: 0!important;
    }
}


@media screen and (max-width: 392px) {
    header > .container > img {
        margin-right: 150px;
    }
    
    header .cart {
        margin-top: 5px;
    }

    footer .left {
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }

    footer .left nav {
        margin-left: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .left figure figcaption {
        margin-left:auto
    }

    footer .left figure {
        text-align: center;
    }

    footer.left figure figcaption {
        width: auto;
    }
}

@media screen and (max-width: 328px){
    header > .container > img {
        margin-right: 100px;
    }
}